/* Variables */
:root {
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/barlow-v12-latin-regular.woff') format('woff');
}

/* barlow-500 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/barlow-v12-latin-500.woff2') format('woff2'),
    url('../fonts/barlow-v12-latin-500.woff') format('woff');
}

/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
    url('../fonts/barlow-v12-latin-700.woff') format('woff');
}

/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fraunces-v23-latin-900.woff2') format('woff2'),
    url('../fonts/fraunces-v23-latin-900.woff') format('woff');
}

/* General */

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Barlow", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #FEFCF7;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */
.container {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Sticky-Footer */
.site-main {
  flex-grow: 1;
}

/* Start Header Section */

header {
  position: relative;
  padding: 32px 0 41px 0;
}

.site-header-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-part__btn {
  width: 15px;
  height: 16px;
  background-image: url("../images/hamburger-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.sitenav-on {
  display: block;
}

.sitenav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 92px);
  padding-top: 40px;
  background: linear-gradient(360deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}

.sitenav-on .sitenav {
  display: block;
}

.sitenav__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sitenav__link {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.sitenav__link:hover {
  color: #333D4B;
}

.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav-on .site-header-part__btn {
  background-image: url("../images/close-icon.svg");
}

@media only screen and (min-width:700px) {
  .site-header-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-header-part__btn {
    display: none;
  }

  .sitenav {
    position: static;
    display: block;
    width: 330px;
    height: auto;
    padding-top: 0;
    background: transparent;
  }

  .sitenav__list {
    align-items: center;
    flex-direction: row;
  }

  .sitenav__item:not(:last-child) {
    margin: 0 32px 0 0;
  }

  .sitenav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
  }
}

.titke {
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
}

/* End of Header Section */

/* Start Hero Section */
.hero-part {
  padding: 100px 24px;
  background-image: url("../images/phone-hero-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hero-part__info-box {
  max-width: 279px;
  margin: 0 auto;
}

.hero-part__title {
  margin: 0;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #FEFCF7;
}

.hero-part__text {
  margin: 24px 0 39px 0;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero-part__link-box {
  display: flex;
  justify-content: center;
}

.hero-part__link {
  padding: 16px 31px 15px;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
  background-color: #0E8784;
  border-radius: 6px;
}

@media only screen and (min-width:375px) {
  .hero-part__text {
    font-size: 15px;
  }

  .hero-part__title {
    font-size: 35px;
  }
}

@media only screen and (min-width:700px) {
  .hero-part {
    padding: 104px 0 103px 58px;
    background-image: url("../images/planshet-hero-bg-img.jpg");
  }

  .hero-part__info-box {
    max-width: 398px;
    margin: 0;
  }

  .hero-part__title-box {
    max-width: 329px;
  }

  .hero-part__title {
    font-size: 40px;
  }

  .hero-part__text-box {
    max-width: 398px;
  }

  .hero-part__title,
  .hero-part__text {
    text-align: left;
  }

  .hero-part__text {
    font-size: 15px;
  }

  .hero-part__link-box {
    justify-content: flex-start;
  }

  .site-logo__img {
    width: 236px;
    height: 26px;
  }

}

@media only screen and (min-width:1024px) {

  .hero-part {
    padding: 104px 0 103px 58px;
    background-image: url("../images/desktop-second-hero-bg-img.jpg");
  }

  .hero-part__info-box {
    max-width: 493px;
    margin: 0;
  }

  .hero-part__title-box {
    max-width: none;
  }

  .hero-part__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
  }

  .hero-part__text-box {
    max-width: 445px;
  }

  .hero-part__text {
    margin: 32px 0 56px 0;
    font-size: 17px;
    line-height: 26px;
  }

  .hero-part__link:hover {
    background-color: #66D2CF;
  }
}

/* End of Hero Section */

/* Start Collection Section */
#collection {
  padding: 130px 0 120px 0;
  background-image: url("../images/collection-title-img.svg");
  background-repeat: no-repeat;
  background-size: 250px 72px;
  background-position: top 45px center;
}

.collection-list__item {
  margin: 0;
  max-width: 282px;
  text-align: center;
}

.collection-list__img {
  margin: 0 auto;
}

.collection-list__item:not(:last-child) {
  margin-bottom: 48px;
}

.collection-list__title,
.collection-list__text {
  margin: 0;
}

.collection-list__title {
  margin: 24px 0 16px 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.collection-list__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333D4B;
}


@media only screen and (min-width:375px) {
  #collection {
    background-image: url("../images/collection-title-img.svg");
    background-size: 305px 72px;
  }

  .collection-list__item {
    max-width: 315px;
    margin: 0 auto;
    text-align: center;
  }

  .collection-list__text-box {
    max-width: 282px;
    margin: 0 auto;
  }
}

@media only screen and (min-width:425px) {
  #collection {
    background-image: url("../images/collection-title-img.svg");
    background-size: 345px 72px;
  }

  .collection-list__item {
    max-width: 368px;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width:500px) {
  #collection {
    background-image: url("../images/collection-bg-img-desktop.svg");
    background-size: contain;
  }
}

@media only screen and (min-width:700px) {
  #collection {
    padding: 144px 0 129px 0;
    background-image: url("../images/collection-bg-img-desktop.svg");
    background-size: contain;
    background-position: top 65px center;
  }

  .collection-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 640px;
  }

  .collection-list__img {
    margin: 0 36px 0 0;
  }

  .collection-list__title,
  .collection-list__text {
    text-align: left;
  }

}


@media only screen and (min-width:790px) {
  #collection {
    background-image: url("../images/collection-bg-img-desktop.svg");
    background-size: contain;
    background-position: top center;
  }
}

@media only screen and (min-width:1024px) {
  #collection {
    margin-top: 120px;
    padding: 136px 0 188px 0;
    background-image: url("../images/collection-bg-img-desktop.svg");
    background-size: 1111px 196px;
    background-position: top center;
  }

  .collection-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .collection-list__item {
    max-width: 245px;
    margin: 0 30px 0 0;
    flex-direction: column;
  }

  .collection-list__img {
    margin: 0 auto;
  }

  .collection-list__item:not(:last-child) {
    margin-bottom: 0px;
  }

  .collection-list__title-box,
  .collection-list__text-box {
    max-width: 255px;
  }

  .collection-list__title,
  .collection-list__text {
    text-align: center;
  }
}

/* End of Collection Section */

/* Start Choose Section */
.choose-part {
  padding: 116px 0 650px 0;
  /* background-color: #2C343E; */
  border-radius: 10px;
}

.choose-part__info-box {
  margin: 0 auto;
  padding: 64px 24px 28px 24px;
  background-color: #2C343E;
}

.choose-part__text-box {
  margin: 0 auto;
}

.choose-part__title {
  margin: 0 0 24px 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #FEFCF7;
}

.choose-part__text-box {
  max-width: 212px;
}

.choose-part__text {
  margin: 0;
  font-family: 'Barlow';
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.choose-part__list-box {
  position: relative;
  padding: 360px 24px 360px 24px;
  background-color: #282F38;
  border-radius: 0 0 10px 10px;
}

.choose-list {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.choose-list__item {
  position: relative;
  max-width: 212px;
  width: 100%;
  margin: 0 auto;
  padding: 200px 34px 51px;
  background-color: #0E8784;
  border-radius: 8px;
}

.choose-list__item::before {
  position: absolute;
  top: 72px;
  left: 70px;
  content: "";
  width: 71px;
  height: 72px;
  margin: 0 auto 56px;
  background-image: url("../images/coffee-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.choose-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.choose-list__item:nth-child(2):before {
  background-image: url("../images/prize-icon.svg");
}

.choose-list__item:nth-child(3):before {
  background-image: url("../images/delivery-icon.svg");
}

.choose-list__title {
  margin: 0 0 24px 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}

.choose-list__text-box {
  /* width: 198px; */
  margin: 0 auto;
}

.choose-list__text {
  margin: 0;
  font-family: 'Barlow';
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
}

@media only screen and (min-width:375px) {
  .choose-part__text-box {
    max-width: 260px;
  }

  .choose-part__title {
    font-size: 28px;
  }

  .choose-part__list-box {
    padding: 170px 24px 170px 24px;
  }

  .choose-list__item {
    max-width: 269px;
    padding: 200px 34px 51px;
    background-color: #0E8784;
    border-radius: 8px;
  }

  .choose-list__item::before {
    position: absolute;
    top: 72px;
    left: 104px;
  }

  .choose-list__text-box {
    margin: 0 auto;
  }
}

@media only screen and (min-width:700px) {
  .choose-part{
    padding: 0;
  }
  .choose-list__item {
    max-width: 573px;
    padding: 41px 48px 41px 70px;
    background-color: #0E8784;
    border-radius: 8px;
  }

  .choose-part__title {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .choose-part__text-box {
    max-width: 480px;
  }

  .choose-part__text {
    font-size: 15px;
  }

  .choose-list__text-box {
    max-width: 344px;
    margin: 0 auto;
  }

  .choose-list__title,
  .choose-list__text {
    text-align: left;
  }

  .choose-part__list-box {
    background-color: #2C343E;
  }

  .choose-list__title {
    margin-bottom: 16px;
  }

  .choose-list__item {
    position: relative;
    max-width: 573px;
    width: 100%;
    margin: 0 auto;
    padding: 41px 48px 41px 181px;
  }

  .choose-list__item::before {
    position: absolute;
    top: 62px;
    left: 70px;
    width: 55px;
    height: 56px;
  }
}

@media only screen and (min-width:1024px) {
  .choose-part{
    padding: 0;
  }
  .choose-list {
    display: flex;
    align-items: center;
  }

  .choose-part__list-box {
    padding: 150px 24px 150px 24px;
  }
  .choose-list__item {
    width: 350px;
    padding: 200px 48px 48px 47px;
  }

  .choose-list__item:not(:last-child){
    margin: 0;
    margin-right: 30px;
  }

  .choose-list__item::before {
    width: 72px;
    height: 72px;
    top: 72px;
    left: 135px;
  }

  .choose-list__title,
  .choose-list__text {
    text-align: center;
  }

  .choose-list__item{
    margin: 0;
  }

  .choose-list__text-box {
    max-width: 240px;
  }

  .choose-list {
    position: absolute;
    top: 162px;
    left: 85px;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
  }
}

/* End of Choose Section */